.container
{
    display: flex;
    flex-flow: column;
}

.main
{
    flex: 1;
    height: 800px;
    background: rgba(255, 69, 202, 1);
    display: flex;
}

.flex
{
    flex: 1;
    height: 700px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.flex:nth-child(1) { background: rgba(25, 64, 188, 1); }
.flex:nth-child(2) { background: rgba(14, 114, 104, 1); }
.flex:nth-child(3) { background: rgba(252, 224, 61, 1); }


.block
{
    margin: auto;
    background: rgba(255, 255, 255, 0.6);
}

.block img
{
    width: 400px;
}

.block h2
{
    margin-top: 5px;
    text-align: center;
    letter-spacing: 7px;
    text-transform: uppercase;
}

.block p
{
    margin: 15px 0 ;
    letter-spacing: 3px;
    text-align: center;
}

/*33,33,33*/
