<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>[{{ site_name }}] {{ username }}, Verification Email</title>
    {% load i18n %}{% autoescape off %}
</head>
<body>
    <p>
{% blocktrans %}
Hello, {{ username }}.<br />
아래 주소로 접속해주세요.<br />
<a href="http://possster.junshoong.net/register/{{ token }}/">
    http://possster.junshoong.net/verify/{{ token }}/
</a><br />
만약 이메일을 요청한 적이 없다면 무시하시면 되겠습니다.<br />
{% endblocktrans %}
{% endautoescape %}
    </p>

</body>
</html>